<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:rel="stylesheet" type="text/css" th:href="@{'/css/table.css'}">

    <title>Bookshelf</title>

</head>
<body>
<h1>Bookshelf</h1>

<br/><br/>
<td>
    <form action="#" th:action="@{'/books/search'+${pid}}" method="post">
        <tr>
            <td><label th:for="search">Найти</label></td>
            <td><input id="search" type="text" name="search" placeholder="Найти"></td>
        </tr>
        <label style="font-size: small" th:for="search">Книга прочитана?</label>
        <select th:name="isRead">
            <option value="e" th:selected="selected">Не учитывать</option>
            <option th:id="isRead" th:name="isRead" value="true" >Да</option>
            <option th:id="isRead" th:name="isRead" value="false">Нет</option>
        </select>
        <label style="font-size: small" >Год издания</label>
        <input th:id="after" type="number" th:name="after" placeholder="После">
        <input th:id="before" type="number" th:name="before" placeholder="До">

        <div>
            <input type="submit" value="Найти"/>
        </div>
    </form>
</td>

<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Автор</th>
            <th>ISBN</th>
            <th>Год издания</th>
            <th>Прочитано</th>
            <th></th>
            <th></th>
        </tr>
        <!--/*@thymesVar id="books" type="com.vra.bookshelf.entity.BookshelfEntity"*/-->
        <tr th:each="book: ${books}">
            <td th:utext="${book.id}">...</td>
            <td th:utext="${book.title}">...</td>
            <td th:utext="${book.description}">...</td>
            <td th:utext="${book.author}">...</td>
            <td th:utext="${book.isbn}">...</td>
            <td th:utext="${book.year}">...</td>

            <td th:if="${book.readAlready}">
                <img th:src="@{'/images/tick64.png'}" width="30" height="30">
            </td>
            <td th:unless="${book.readAlready}">
                <a th:href="@{'/books/currPage'+${currPage}+'/readalready'+${book.id}}">
                    <img th:src="@{'/images/nottick64.png'}" width="30" height="30"></a>
            </td>
            <!--вариант js jquery-->

            <!--edit/delete-->
            <td><a th:href="@{'/books/currPage'+${currPage}+'/edit'+${book.id}}">
                <img th:src="@{'/images/pencil.png'}" width="30" height="30"></a>
            </td>
            <td><a th:href="@{'/books/currPage'+${currPage}+'/delete'+${book.id}}">
                <img th:src="@{'/images/dagger.png'}" width="30" height="30"></a>
            </td>
        </tr>
    </table>

    <!--постраничный вывод-->
    <a th:href="@{'/books/page' + ${prevPage}}"><span th:text="Prev">...</span></a>
    <span th:each="i : ${#numbers.sequence(1,countOfPages)}">
        <a th:href="@{'/books/page' + ${i}}"><span th:text="${ i }">...</span></a>
    </span>
    <a th:href="@{'/books/page' + ${nextPage}}"><span th:text="Next">...</span></a>

    <!--форма добавления-->
    <!--/*@thymesVar id="book" type="com.vra.bookshelf.entity.BookshelfEntity"*/-->
    <form action="#" th:action="@{'/books/addBook'+${pid}}" th:object="${book}" method="post">
        <div>
            <!--<label th:for="id">ID</label>-->
            <input id="id" type="hidden" name="id" th:field="${book.id}"/>
            <span class="error1" th:if="${#fields.hasErrors('id')}" th:each="err : ${#fields.errors('id')}"
                  th:text="${err}">Input is incorrect</span>
        </div>
        <br>
        <div>
            <label th:for="title">Title</label>
            <input id="title" type="text" name="Title" placeholder="Название книги" required th:field="${book.title}"/>
            <span class="error1" th:if="${#fields.hasErrors('title')}" th:each="err : ${#fields.errors('title')}"
                  th:text="${err}">Input is incorrect</span>
        </div>
        <div>
            <label th:for="desc">Description</label>
            <input id="desc" type="text" name="Description" placeholder="Описание" required
                   th:field="${book.description}">
            <span class="error1" th:if="${#fields.hasErrors('description')}"
                  th:each="err : ${#fields.errors('description')}"
                  th:text="${err}">Input is incorrect</span>
        </div>
        <div>
            <label th:for="author">Author</label>
            <input id="author" type="text" name="Author" placeholder="Автор" required th:field="${book.author}"/>
            <span class="error1" th:if="${#fields.hasErrors('author')}" th:each="err : ${#fields.errors('author')}"
                  th:text="${err}">Input is incorrect</span>
        </div>
        <div>
            <label th:for="isbn"> ISBN </label>
            <input id="isbn" type="number" name="ISBN" placeholder="ISBN" required
                   th:field="*{isbn}" th:errorclass="error"/>
            <span class="error1" th:if="${#fields.hasErrors('isbn')}" th:each="err : ${#fields.errors('isbn')}"
                  th:text="${err}">Input is incorrect</span>
        </div>
        <div><label th:for="year">Year</label>
            <input id="year" type="number" name="Title" placeholder="Год" required th:field="${book.year}"/>
            <span class="error1" th:if="${#fields.hasErrors('year')}" th:each="err : ${#fields.errors('year')}"
                  th:text="${err}">Input is incorrect</span>
        </div>
        <div>
            <input type="submit" value="Изменить"/>
            <input type="reset" value="Сбросить"/>
        </div>
    </form>


</div>
</body>
</html>