<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <link th:rel="stylesheet" type="text/css" th:href="@{'/css/table.css'}">

    <title>Bookshelf</title>

</head>
<body>
<!--/*@thymesVar id="books" type="com.vra.bookshelf.entity.BookshelfEntity"*/-->
<div th:if="${!books.isEmpty()}"><h1>Найдено: </h1></div>
<div th:if="${#lists.isEmpty(books)}"><h1>Ничего не нашлось, измените параметры поиска</h1></div>
<br/><br/>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Автор</th>
            <th>ISBN</th>
            <th>Год издания</th>
            <th>Прочитано</th>
            <th></th>
            <th></th>
        </tr>

        <tr th:each="book: ${books}">
            <td th:utext="${book.id}">...</td>
            <td th:utext="${book.title}">...</td>
            <td th:utext="${book.description}">...</td>
            <td th:utext="${book.author}">...</td>
            <td th:utext="${book.isbn}">...</td>
            <td th:utext="${book.year}">...</td>

            <td th:if="${book.readAlready}">
                <img th:src="@{'/images/tick64.png'}" width="30" height="30">
            </td>
            <td th:unless="${book.readAlready}">
                <a th:href="@{'/books/currPage'+${currPage}+'/readalready'+${book.id}}">
                    <img th:src="@{'/images/nottick64.png'}" width="30" height="30"></a>
            </td>
            <!--вариант js jquery, подумать-->

            <!--edit/delete-->
            <td><a th:href="@{'/books/currPage'+${currPage}+'/edit'+${book.id}}">
                <img th:src="@{'/images/pencil.png'}" width="30" height="30"></a>
            </td>
            <td><a th:href="@{'/books/currPage'+${currPage}+'/delete'+${book.id}}">
                <img th:src="@{'/images/dagger.png'}" width="30" height="30"></a>
            </td>
        </tr>
    </table>

    <!--кнопка назад-->
    <form action="#" th:action="@{'/books/page'+${pid}}" method="get">
        <input type="submit" value="Назад"/>
    </form>

</div>
</body>
</html>